@{
    ViewBag.Title = "Echec de connexion";
}

@section featured {
    <div class="p2-eb-theme-bg-blue">
        <div class="p2-content-width">
            <h1>@ViewBag.Title.</h1>
            <h2>Impossible de se connecter avec ce service.</h2>
            <p>
                Merci de vous inscrire ou d'essayer de vous connecter avec un autre service
            </p>
        </div>
    </div>
}