@{
    ViewBag.Title = "Contact";
}

@section featured {
    <div class="p2-eb-theme-bg-blue">
        <div class="p2-content-width">
            <h1>Contacter nous.</h1>
            <h2>N'hésiter pas à nous contacter. Nous nous engageons à vous répondre dans les meilleurs délais.</h2>
        </div>
    </div>
}
<section class="contact">
    <ul>
		<li><a title="Like Wael Harbi on Facebook" href="https://www.facebook.com/wael.waelos.3" rel="me" target="_blank">Sur Facebook</a>
		</li>
		<li><a title="Visitez mon profil Twitter" href="https://twitter.com/waelharbi23" rel="me" target="_blank">
    Sur Twitter
</a>
		</li>
		<li><a title="Visitez mon profil Google+" href="https://plus.google.com/u/0/105100385936326342971" rel="me" target="_blank">
    Sur Google+
</a>
		</li>
	</ul>
</section>