@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erreur";
}

<hgroup class="title">
    <h1 class="error">Erreur.</h1>
    <h2 class="error">Une erreur inattendue est servenue lors de l'exécution de votre requête.</h2>
</hgroup>
